/*Infografía*/

.slide {
    width: 100vw;
    height: 100vh;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 4000px;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    position: relative;
  }
  .one {
    background: url("../media/infografía/Parte\ 1.png");
    width: 4000px;
    background-size: 100% 100vh;
    height: 100vh;
  }
  .outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    touch-action: pan-y;
  }
  ::-webkit-scrollbar {
    display:none;
  }

