  .star{
    position: absolute;
  }

  .btn-star{
    position: absolute;
    background-color:  rgba(0, 0, 0, 0);
    border: none;
  }

  .btn-star:hover{
    cursor: pointer;
  }

  .star-1-1{
    top: 60px;
    left: 190px;
  }

  .star-1-2{
    top: 5px;
    left: 420px;
  }

  .star-1-3{
    top: 70px;
    left: 770px;
  }

  .star-1-4{
    top: 2px;
    left: 1084px;
  }

  .star-1-5{
    top: 70px;
    left: 1440px;
  }

  .star-1-6{
    top: 8px;
    left: 1710px;
  }

  .star-1-7{
    top: 70px;
    left: 2030px;
  }

  .star-1-8{
    top: 100px;
    left: 2540px;
  }

  .star-1-9{
    top: 30px;
    left: 2800px;
  }

  .star-1-10{
    top: 10px;
    left: 3040px;
  }


/*ESTRELLAS AZULES*/

.star-2-1{
  top: 130px;
  left: 1870px;
}

.star-2-2{
  top: 170px;
  left: 2120px;
}

.star-2-3{
  top: 10px;
  left: 2230px;
}

.star-2-4{
  top: 130px;
  left: 2340px;
}

.star-2-5{
  top: 10px;
  left: 2490px;
}

.star-2-6{
  top: 150px;
  left: 2650px;
}

.star-2-7{
  top: 170px;
  left: 2800px;
}

.star-2-8{
  top: 90px;
  left: 2920px;
}

.star-2-9{
  top: 150px;
  left: 3050px;
}

.star-2-10{
  top: 20px;
  left: 3370px;
}

.star-2-10{
  top: 20px;
  left: 3370px;
}

.star-2-11{
  top: 20px;
  left: 3370px;
}


.star-3-1{
  top: 150px;
  left: 2440px;
}

.star-3-2{
  top: 220px;
  left: 2530px;
}

.star-3-3{
  top: 250px;
  left: 2670px;
}

.star-3-4{
  top: 350px;
  left: 2750px;
}

.star-3-5{
  top: 260px;
  left: 2820px;
}

.star-3-6{
  top: 320px;
  left: 2940px;
}

.star-3-7{
  top: 210px;
  left: 2980px;
}

.star-3-8{
  top: 240px;
  left: 3100px;
}

.star-3-9{
  top: 140px;
  left: 3190px;
}

.star-3-10{
  top: 180px;
  left: 3350px;
}


  .line{
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    box-shadow: 1px 1px 20px white;
  }


  .line2{
    height: 2px;
    background-color: #63FFF6;
    position: absolute;
    box-shadow: 1px 1px 20px #63FFF6;
  }

  .line3{
    height: 2px;
    background-color: #802EF2;
    position: absolute;
    box-shadow: 1px 1px 20px #802EF2;
  }


  .l1{
    width: 200px;
    top: 90px;
    left: 270px;
    transform: rotate(-14deg);
  }

  .l2{
    width: 310px;
    top: 90px;
    left: 500px;
    transform: rotate(11deg);
  }

   .l3{
    width: 280px;
    top: 90px;
    left: 850px;
    transform: rotate(-12deg);
  }

  .l4{
    width: 310px;
    top: 90px;
    left: 1170px;
    transform: rotate(12deg);
  }

  .l5{
    width: 230px;
    top: 100px;
    left: 1530px;
    transform: rotate(-13deg);
  }

  .l6{
    width: 280px;
    top: 100px;
    left: 1790px;
    transform: rotate(11deg);
  }

  .l7{
    width: 440px;
    top: 145px;
    left: 2130px;
    transform: rotate(4deg);
  }

  .l8{
    width: 220px;
    top: 130px;
    left: 2620px;
    transform: rotate(-16deg);
  }

  .l9{
    width: 200px;
    top: 80px;
    left: 2880px;
    transform: rotate(-5deg);
  }

  .l10{
    width: 200px;
    top: 210px;
    left: 1960px;
    transform: rotate(10deg);
  }

  .l11{
    width: 160px;
    top: 140px;
    left: 2155px;
    transform: rotate(-57deg);
  }

  .l12{
    width: 120px;
    top: 125px;
    left: 2295px;
    transform: rotate(50deg);
  }

  .l13{
    width: 150px;
    top: 120px;
    left: 2400px;
    transform: rotate(-40deg);
  }

  .l14{
    width: 160px;
    top: 130px;
    left: 2560px;
    transform: rotate(45deg);
  }

  .l15{
    width: 120px;
    top: 220px;
    left: 2730px;
    transform: rotate(10deg);
  }

  .l16{
    width: 100px;
    top: 180px;
    left: 2870px;
    transform: rotate(-40deg);
  }

  .l17{
    width: 100px;
    top: 170px;
    left: 3000px;
    transform: rotate(30deg);
  }

  .l18{
    width: 290px;
    top: 150px;
    left: 3130px;
    transform: rotate(-23deg);
  }

  .l19{
    width: 70px;
    top: 245px;
    left: 2510px;
    transform: rotate(38deg);
  }

  .l20{
    width: 100px;
    top: 300px;
    left: 2610px;
    transform: rotate(10deg);
  }

  .l21{
    width: 90px;
    top: 350px;
    left: 2730px;
    transform: rotate(50deg);
  }

  .l22{
    width: 70px;
    top: 360px;
    left: 2810px;
    transform: rotate(-50deg);
  }

  .l23{
    width: 70px;
    top: 360px;
    left: 2810px;
    transform: rotate(-50deg);
  }

  .l24{
    width: 100px;
    top: 350px;
    left: 2890px;
    transform: rotate(30deg);
  }

  .l25{
    width: 100px;
    top: 330px;
    left: 2975px;
    transform: rotate(-70deg);
  }

  .l26{
    width: 80px;
    top: 280px;
    left: 3065px;
    transform: rotate(20deg);
  }

  .l27{
    width: 90px;
    top: 255px;
    left: 3165px;
    transform: rotate(-50deg);
  }

  .l28{
    width: 130px;
    top: 225px;
    left: 3265px;
    transform: rotate(17deg);
  }



  /*================VENTANA MODAL================*/

.modal-container, .modal-container2{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transition: opacity 0.3s ease;
}

.modal-container p{
  line-height: 1.5em;
  text-align: center;
}

.modal-container h3{
  text-align: center;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal1 {
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
  color: black;
  position: absolute;
  z-index: 99;
}

.modal2 {
  background: #63FFF6;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
  color: black;
  position: absolute;
  z-index: 99;
}

.modal3 {
  background: #802EF2;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
  color: white;
  position: absolute;
  z-index: 99;
}

.close{
  padding: 10px 30px;
  cursor: pointer;
  font-family: var(--tipografía1);
  border-radius: 20px;
  border: none;
  display: block;
  margin: 0 auto;
  background-color: rgb(34, 34, 34);
  color: white;
}

#modal1{
  top: 150px;
  left: 60px;
}

#modal2{
  top: 120px;
  left: 300px;
}

#modal3{
  top: 165px;
  left: 650px;
}

#modal4{
  top: 110px;
  left: 980px;
}

#modal5{
  top: 160px;
  left: 1330px;
}

#modal6{
  top: 100px;
  left: 1600px;
}

#modal7{
  top: 160px;
  left: 1900px;
}

#modal8{
  top: 185px;
  left: 2420px;
}

#modal9{
  top: 135px;
  left: 2700px;
}

#modal10{
  top: 115px;
  left: 2950px;
}

#modal11{
  top: 225px;
  left: 1750px;
}

#modal12{
  top: 260px;
  left: 2000px;
}

#modal13{
  top: 100px;
  left: 2130px;
}

#modal14{
  top: 230px;
  left: 2240px;
}

#modal15{
  top: 110px;
  left: 2370px;
}

#modal16{
  top: 230px;
  left: 2540px;
}

#modal17{
  top: 260px;
  left: 2700px;
}

#modal18{
  top: 180px;
  left: 2820px;
}

#modal19{
  top: 240px;
  left: 2950px;
}

#modal20{
  top: 120px;
  left: 3250px;
}

#modal21{
  top: 240px;
  left: 2350px;
}

#modal22{
  top: 310px;
  left: 2450px;
}

#modal23{
  top: 60px;
  left: 2570px;
}

#modal24{
  top: 150px;
  left: 2650px;
}

#modal25{
  top: 70px;
  left: 2720px;
}

#modal26{
  top: 130px;
  left: 2830px;
}

#modal27{
  top: 290px;
  left: 2890px;
}

#modal28{
  top: 20px;
  left: 2990px;
}


#modal29{
  top: 230px;
  left: 3090px;
}

#modal30{
  top: 270px;
  left: 3230px;
}

.volver{
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 999;
  color: rgba(255, 255, 255, 0.5);
  font-size: 2em;
  text-decoration: none;
  font-family: var(--tipografía1);
}

.volver:hover{
  color: white;
}

.btn-star:nth-child(odd) img {
  animation: titilar 2s linear infinite;
}

.btn-star:nth-child(even) img {
  animation: titilar 2s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes titilar {
   0% {
    transform: scale(.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(.8);
  }
}