/*Infografía*/

body{
  scroll-behavior: smooth;
}

.slide {
    width: 100vw;
    height: 100vh;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 8200px;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    position: relative;
    scroll-behavior: smooth;
  }
  .uno {
    background: url("../media/infografía/Parte\ 1.png");
    width: 4000px;
    background-size: 100% 100vh;
    height: 100vh;
  }

  .dos{
    background-image: url(../media/infografía/parte\ 2.png);
    width: 3000px;
    background-size: 100% 100vh;
    height: 100vh;
    position: relative;
  }


  .tres{
    background-image: url(../media/infografía/parte\ 3.png);
    width: 1200px;
    background-size: 100% 100vh;
    height: 100vh;
    position: relative;
  }
  

  .outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    touch-action: pan-y;
  }
  ::-webkit-scrollbar {
    display:none;
  }

  .tren{
    position: fixed;
    bottom: 50px;
    left: -70px;
    z-index: 10;
  }

  .tren img{
    width: 800px;
  }