body{
    color: white;
}

section[class^="sect"]:not(.sect3) {
  text-align: center;
  background-image: url(../media/img/inicio-instrucciones/Fondo\ Introducción.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  height: 100vh;
}

.sub-3{
  max-width: 60%;
  height: 100vh;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  display: grid;
  justify-items: center;
}


.sect3{
  text-align: center;
  background: linear-gradient(#251C61, #9745AD);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

  .sub{
    max-width: 60%;
    height: 60vh;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    display: grid;
    justify-items: center;
  }

  h3{
    font-size: 1.5em;
  }



  .sect1.block,.sect2.block, .sect3.block, .sect4.block, .sect5.block, .sect6.block{
    display: block;
  }

  section[class^="sect"]{
    display: none;
  }


  .recorrido{
    width: 100%;
  }

  .IA{
    width: 75%;
  }

  .column3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .column2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: left;
  }

  .inst-btn{
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
  }

  a > img{
    width: 70px;
  }